@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello There we are here to answer your questions...! </p>
    <p>You can contact us at : queAns@gmail.com</p>
</div>

