@{
    ViewData["Title"] = "About Us Page";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <p>We are here to help you </p>
    <p>We are a group of students in semester 3</p>
    <p>Richa Patel (N01433480)</p>
</div>

