
@model List<Question>
@{
    ViewData["Title"] = "Questions Page";
}


<h1>Questions</h1>

    <div class="col-sm-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Questions</th>
                    <th></th>
            </thead>
            <tbody>
                @foreach (var question in Model)
                {
                    <tr>
                        <td >@question.QuestionName</td>
                        <td >
                            <a  asp-controller="Answers" asp-action="Create"
                               asp-route-qid="@question.QuestionID" asp-route-ques="@question.QuestionName">Submit Your Answer</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <p>
        <a class="col-sm-12"asp-action="Create" asp-controller="Questions">Add new Question</a>
    </p>
</div>

